/*Estructura de css 
selector{ 
    propiedad:valor
}
*/
body{
    background-color: rgb(169, 242, 255);
}
h1,h2{
    text-align: center;
}
header{
    background-image: url('/img/Encabezado/Recetas.jpg');
    height: 300px;
    display: flex;
    justify-content: flex-end;
    top: 0px;
    width: 80%;
    margin-left: 10%;
}
header h1{
    background-color: rgba(255, 248, 220, 0.555);
    padding: 10px;
    width: 300px;
    height: 50px;
}
nav{
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 10%;
}
nav ol li{
    background-color:rgb(77, 132, 153);
    display: inline;
    padding: 15px;
    margin: 10px;
}
article{
    padding-top: 50px;
    background:linear-gradient(rgba(4, 211, 4, 0.479),rgba(0, 0, 0, 0.459));
    width: 80%;
    box-shadow: 5px 3px 5px black;
    margin-left: 10%;
}

article#casera{
    background: linear-gradient(rgba(202, 221, 215, 0.863),rgba(8, 218, 8, 0.603));

}

nav ol li a{
    color: white;
    text-decoration-line: none;
}
nav ol li:hover{
    background-color:rgba(77, 131, 153, 0.493);
    box-shadow: 5px 3px 5px black;
    text-shadow: 5px 3px 5px black;
}
nav ol li a:hover{
    color: black;
}
